.dropdown{

  .option{
    width: 100%;
    text-align: left;
    background-color: #E3F2FD;

    &:hover, &:active, &:focus{
      outline: none;
      box-shadow: none;
    }

    &:hover{
      background-color: #2196F3;
      color:white;
    }

    &.selection{
      background-color: #F5F5F5;
      color:black;
      border:1px solid #2196F3;

      &:hover{
        background-color: #F5F5F5;
        color:black;
        opacity: 0.8;
      }
    }

    &.selected{
      background-color: #2196F3;
      color:white;
    }
  }
}